@import "tailwindcss";

@theme {
  --color-primary-100: #26243f;
  --color-primary-200: #302d4c;
  --color-primary-250: #454266;
  --color-primary-300: #505cbd;
  --color-secondary-100: #f7f6fb;
  --color-success: #42978e;
  --color-danger: #df5c5e;
}
